.todo{
    display: flex;
}
.contenedor-detalle {
    width: 80%;
}
.contenedor-imagen {
    padding-left: 1em;
}

.contenedor-imagen img{
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.contenedor-datos {
    border-left: 2px solid gray;
    padding-left: 2em;
    padding-top: 3em;
}

.cantidadVendida {
    color: rgb(187, 187, 187);
}

.contenedor-datos h3 {
    font-size: 2em;
}

.link-volver {
    color: blue !important;
    text-align: center;
}